<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="app">
        <span v-for="n in 5">
          <input type="radio" name="meetupSelect" :value="n" v-model="meetupID">
          <label>{{ n }}</label>
        </span>

        <hr />

        <h3>
          <div v-if="meetupData !== null">
            {{ meetupData.title }}
          </div>
        </h3>
    </div>

    <script type="module" src="script.js"></script>
  </body>
</html>
